
header
  a(href="/nexmain")
    img(src="/nex.png" alt="회사로고" width="150" height="70" id="logo")
  if(SESSIONUSER.role == 'user')
    nav.navbar.navbar-inverse
      .container-fluid
        .navbar-header
          a.navbar-brand(href='/nexmain') (주)한성 넥스
        ul.nav.navbar-nav
          li
            a(href='/registerdetail') 작성하기
          li
            a(href='#') 검색

        ul.nav.navbar-nav
          li
            a(style='color:lightgray;')
              = SESSIONUSER.name +' 님 환영합니다!'
          li
            a(href='/logout')
              span.nav-text
                | Logout
              
  if(SESSIONUSER.role == 'master')
    nav.navbar.navbar-inverse
      .container-fluid
        .navbar-header
          a.navbar-brand(href='/nexmain') (주)한성 넥스
        ul.nav.navbar-nav
          li
            a(href='/registerdetail') 작성하기
          li
            a(href='/manageUsers') 회원관리
          li
            a(href='/statistics') 통계
          
      

        ul.nav.navbar-nav
          li
            a(style='color:lightgray;')
              = SESSIONUSER.name +' 님 환영합니다!'
          li
            a(href='/logout')
              span.nav-text
                | Logout
      

  

  
