style.
  @import url(https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);
  @import url(http://fonts.googleapis.com/css?family=Titillium+Web:300);
  .fa-2x {
  font-size: 2em;
  }
  .fa {
  position: relative;
  display: table-cell;
  width: 60px;
  height: 36px;
  text-align: center;
  vertical-align: middle;
  font-size:20px;
  }


  .main-menu:hover,nav.main-menu.expanded {
  width:250px;
  overflow:visible;
  }

  .main-menu {
  background:#fbfbfb;
  border-right:1px solid #e5e5e5;
  position:absolute;
  top:0;
  bottom:0;
  height:100%;
  right:0;
  width:40px;
  overflow:hidden;
  -webkit-transition:width .05s linear;
  transition:width .05s linear;
  -webkit-transform:translateZ(0) scale(1,1);
  z-index:1000;
  }

  .main-menu>ul {
  margin:5px 0;
  }

  .main-menu li {
  position:relative;
  display:block;
  width:250px;
  }

  .main-menu li>a {
  position:relative;
  display:table;
  border-collapse:collapse;
  border-spacing:0;
  color:#999;
   font-family: arial;
  font-size: 14px;
  text-decoration:none;
  -webkit-transform:translateZ(0) scale(1,1);
  -webkit-transition:all .1s linear;
  transition:all .1s linear;

  }

  .main-menu .nav-icon {
  position:relative;
  display:table-cell;
  width:60px;
  height:36px;
  text-align:center;
  vertical-align:middle;
  font-size:18px;
  }

  .main-menu .nav-text {
  position:relative;
  display:table-cell;
  vertical-align:middle;
  width:190px;
    font-family: 'Titillium Web', sans-serif;
  }

  .main-menu>ul.logout {
  position:absolute;
  left:0;
  bottom:0;
  }

  .no-touch .scrollable.hover {
  overflow-y:hidden;
  }

  .no-touch .scrollable.hover:hover {
  overflow-y:auto;
  overflow:visible;
  }

  a:hover,a:focus {
  text-decoration:none;
  }

  nav {
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  -o-user-select:none;
  user-select:none;
  }

  nav ul,nav li {
  outline:0;
  margin:0;
  padding:0;
  }
  .main-menu li:hover>a,nav.main-menu li.active>a,.dropdown-menu>li>a:hover,.dropdown-menu>li>a:focus,.dropdown-menu>.active>a,.dropdown-menu>.active>a:hover,.dropdown-menu>.active>a:focus,.no-touch .dashboard-page nav.dashboard-menu ul li:hover a,.dashboard-page nav.dashboard-menu ul li.active a {
  color:#fff;
  background-color:#5fa2db;
  }
  .main {
  float: right;
  background: #e2e2e2;
  width: 100%;
  height: 100%;
  }
  @font-face {
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 300;
    src: local('Titillium WebLight'), local('TitilliumWeb-Light'), url(http://themes.googleusercontent.com/static/fonts/titilliumweb/v2/anMUvcNT0H1YN4FII8wpr24bNCNEoFTpS2BTjF6FB5E.woff) format('woff');
  }
script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js')
  // OR
script(src='http://ajax.googleapis.com/ajax/libs/mootools/1.4.5/mootools-yui-compressed.js')
  // OR NONE IF YOU ARE USING PURE JAVASCRIPT
body
  .main
    nav.main-menu
      ul
        li
          a(href='#', data-toggle='collapse', data-target='#submenu-0')
            i.fa.fa-fw.fa-search
            span.nav-text
              |  MENU 1 
          ul#submenu-0.collapse
            li
              a(href='#')
                i.fa.fa-angle-double-right
                span.nav-text
                  |  SUBMENU 1.1
            li
              a(href='#')
                i.fa.fa-angle-double-right
                span.nav-text
                  |  SUBMENU 1.2
            li
              a(href='#')
                i.fa.fa-angle-double-right
                span.nav-text
                  |  SUBMENU 1.3
        li
          a(href='/dialog/1', data-toggle='collapse', data-target='#submenu-1')
            i.fa.fa-folder-open.fa-2x
            span.nav-text
              | e-catalog
          ul#submenu-1.collapse
            li
              a(href='#')
                i.fa.fa-angle-double-right
                span.nav-text        
        li.has-subnav
          a(href='#', data-toggle='collapse', data-target='#submenu-2')
            i.fa.fa-folder-open.fa-2x
            span.nav-text 
              | 견적서 모음
          ul#submenu-2.collapse
        li.has-subnav
          a(href='#', data-toggle='collapse', data-target='#submenu-3')
            i.fa.fa-folder-open.fa-2x
            span.nav-text
              | 주문서 모음
          ul#submenu-3.collapse
        li
          a(href='#', data-toggle='collapse', data-target='#submenu-4')
            i.fa.fa-folder-open.fa-2x
            span.nav-text
              | 작업지시서 모음
          ul#submenu-4.collapse
        li
          a(href='#', data-toggle='collapse', data-target='#submenu-5')
            i.fa.fa-folder-open.fa-2x
            span.nav-text
              | 출고지시서 모음
          ul#submenu-5.collapse
        li
          a(href='#', data-toggle='collapse', data-target='#submenu-6')
            i.fa.fa-folder-open.fa-2x
            span.nav-text
              | 기타양식 모음
          ul#submenu-6.collapse
        li
          a(href='http://106.242.102.58:7000')
            i.fa.fa-info.fa-2x
            span.nav-text
              | 그룹웨어
        li
          a(href='http://www.g2b.go.kr')
            i.fa.fa-info.fa-2x
            span.nav-text
              | 나라장터
        li
          a(href='http://www.hometax.go.kr')
            i.fa.fa-info.fa-2x
            span.nav-text
              | 홈텍스
        li
          a(href='http://www.bidq.co.kr')
            i.fa.fa-info.fa-2x
            span.nav-text
              | 비드큐
        li
          a(href='https://www.hs-nex.co.kr')
            i.fa.fa-info.fa-2x
            span.nav-text
              | 넥스 홈페이지
        li
          a(href='http://www.daum.net')
            i.fa.fa-info.fa-2x
            span.nav-text
              | 다음
        li
          a(href='http://www.naver.com')
            i.fa.fa-info.fa-2x
            span.nav-text
              | 네이버
      ul.logout
        li
          a(href='/logout')
            i.fa.fa-power-off.fa-2x
            span.nav-text
              | Logout
              
script.
  $(document).ready(function(){
    $( "#doc1" ).click(function() {
      $.ajax({
      type: 'GET',
      url : '/getFiles',
      success: function (data) {
        //alert('good')
      }
      });
    });
    
  });


  
  
    
  
